<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" type="image/x-icon" href="../static/logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>EP-Team Project</title>
  <!-- Bootstrap core CSS-->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <!-- Custom fonts for this template-->
  <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous">
  <!-- Page level plugin CSS-->
  <link href="../static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" crossorigin="anonymous">
  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin.css" rel="stylesheet" crossorigin="anonymous">
  <script type="text/javascript">
    window.addEventListener( "pageshow", function ( event ) {
      var historyTraversal = event.persisted || ( typeof window.performance != "undefined" && window.performance.navigation.type === 2 );
      if ( historyTraversal ) {
        // Handle page restore.
        window.location.reload();
      }
    });
  </script>
</head>

  <body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/flows">Event Handling Platform</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-cloud"></i>
            <span class="nav-link-text">Create Flows</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="/flows">Choose Templates</a>
            </li>
            <li>
              <a href="/customflows">Customize Flows</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="/yourflows">
            <i class="fa fa-fw fa-briefcase"></i>
            <span class="nav-link-text">Your Flows</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="/logout">
            <i class="fa fa-fw fa-sign-out"></i>
            <span class="nav-link-text">Logout</span></a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-up"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto text-white">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-5" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-user"></i>
            <span>Welcome {{session['name']}}</span>
            <span class="d-lg-none">User Details</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">Account Settings:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/change_password"><i class= "fa fa-fw fa-lock"></i> 
              Change Password
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div class="content-wrapper" >
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/flows">Popular Business Flows</a>
        </li>
      </ol>
      <div class="row">
        <div class="col-md-6 col-sm-12 mb-6 col-xl-4 col-lg-6">
          <div class="card-container">
            <div class="card card-flows text-white bg-primary h-100">
              <div class="card-flows-body">
                <div class="card-body-icon">
                  <i class="fa fa-fw fa-search"></i>
                </div>
                  <div class= "side ">
                    <div class="mr-5" style="font-size: 20px"><big><b>Webscrapper</b></big></div>
                    <br>
                    <div class="mr-5"><i class="fa fa-fw fa-link" style="font-size: 50px;"></i> <i class="fa fa-fw fa-plus" style="font-size: 35px;"></i> <i class="fa fa-fw fa-database" style="font-size: 50px;"></i></div>
                    <div class="mr-5" style="margin:5px; float:left; font-size: 18px;"><b>Website</b></div>
                    <div class="mr-5" style="margin-top:5px;margin-left:-2px; float:left;font-size: 18px;"><b>MongoDB</b></div>
                  </div>  
                  <div class = "side back bg-white text-primary">
                    This flow allows you to fetch values from any website and stores the result in your own mongodb database.
                </div>
              </div>
              <a class="card-footer text-white bg-primary clearfix small z-1" href="/webscrap">
                <span class="float-left">View Form</span>
                <span class="float-right">
                  <i class="fa fa-angle-right"></i>
                </span>
              </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 mb-6 col-xl-4 col-lg-6">
              <div class="card-container">
                <div class="card card-flows text-white bg-warning h-100">
                  <div class="card-flows-body">
                    <div class="card-body-icon">
                      <i class="fa fa-fw fa-file-o"></i>
                    </div>
                      <div class= "side ">
                        <div class="mr-5" style="font-size: 20px"><big><b>File Monitoring</b></big></div>
                        <br>
                        <div class="mr-5"><i class="fa fa-fw fa-file-excel-o" style="font-size: 50px;"></i> <i class="fa fa-fw fa-plus" style="font-size: 35px;"></i> <i class="fa fa-fw fa-mail-reply" style="font-size: 50px;"></i></div>
                        <div class="mr-5" style="margin:5px; float:left;font-size: 18px;"><b>Sheets</b></div>
                        <div class="mr-5" style="margin-top:5px;margin-left: 20px; float:left;font-size: 18px;"><b>E-Mail</b></div>
                      </div>  
                      <div class = "side back bg-white text-warning">
                        This flow helps you monitor ranges in Google-Sheet and alerts you when an any change is made to the file. 
                    </div>
                  </div>
                  <a class="card-footer text-white bg-warning clearfix small z-1" href="/filemonitor">
                    <span class="float-left">View Form</span>
                    <span class="float-right">
                      <i class="fa fa-angle-right"></i>
                    </span>
                  </a>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-sm-12 mb-6 col-xl-4 col-lg-6">
            <div class="card-container">
              <div class="card card-flows text-white bg-success h-100">
                <div class="card-flows-body">
                  <div class="card-body-icon">
                    <i class="fa fa-fw fa-microchip"></i>
                  </div>
                  <div class= "side ">
                    <div class="mr-5" style="font-size: 20px"><big><b>MQTT</b></big></div>
                    <br>
                    <div class="mr-5"><i class="fa fa-fw fa-microchip" style="font-size: 50px;"></i> <i class="fa fa-fw fa-plus" style="font-size: 35px;"></i> <i class="fa fa-fw fa-microchip" style="font-size: 50px;"></i></div>
                    <div class="mr-5" style="margin:5px; float:left;font-size: 18px;"><b>Sensor</b></div>
                    <div class="mr-5" style="margin:5px; float:left;font-size: 18px;"><b>Device</b></div>
                  </div>  
                  <div class = "side back bg-white text-success">
                    This flow helps you read values from a MQTT topic and send response to another MQTT topic.
                  </div>
                </div>
                <a class="card-footer text-white bg-success clearfix small z-1" href="/mqtt">
                  <span class="float-left">View Form</span>
                  <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 mb-6 col-xl-4 col-lg-6">
            <div class="card-container">
              <div class="card card-flows text-white bg-danger h-100">
                <div class="card-flows-body">
                  <div class="card-body-icon">
                    <i class="fa fa-fw fa-cloud"></i>
                  </div>
                  <div class= "side ">
                    <div class="mr-5" style="font-size: 20px"><big><b>Cloud Services</b></big></div>
                    <br>
                    <div class="mr-5"><i class="fa fa-fw fa-twitter" style="font-size: 50px;"></i> <i class="fa fa-fw fa-plus" style="font-size: 35px;"></i> <i class="fa fa-fw fa-cloud-upload" style="font-size: 50px;"></i></div>
                    <div class="mr-5" style="margin:5px; float:left;font-size: 18px"><b>Twitter</b></div>
                    <div class="mr-5" style="margin-top:5px;margin-left:-5px; float:left;font-size: 18px"><b>Google-Drive</b></div>
                  </div>  
                  <div class = "side back bg-white text-danger">
                    This flow helps you search images from Twitter using hashtags and then upload those images on Google-drive. 
                  </div>
                </div>
                <a class="card-footer text-white bg-danger clearfix small z-1" href="/cloud_services">
                  <span class="float-left">View Form</span>
                  <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 mb-6 col-xl-4 col-lg-6">
            <div class="card-container">
              <div class="card card-flows text-white bg-dark h-100">
                <div class="card-flows-body">
                  <div class="card-body-icon">
                    <i class="fa fa-fw fa-shopping-cart"></i>
                  </div>
                  <div class= "side ">
                    <div class="mr-5" style="font-size: 20px"><big><b>E-Commerce</b></big></div>
                    <br>
                    <div class="mr-5"><i class="fa fa-fw fa-cart-plus" style="font-size: 50px;"></i> <i class="fa fa-fw fa-plus"  style="font-size: 35px;"></i> <i class="fa fa-fw fa-bar-chart" style="font-size: 50px;"></i></div>
                    <div class="mr-5" style="margin:5px; float:left;font-size: 18px;"><b>Website</b></div>
                    <div class="mr-5" style="margin:5px; float:left;font-size: 18px;"><b>Chart</b></div>
                  </div>  
                  <div class = "side back bg-white text-dark">
                    This flow helps you compare prices of products from various websites and shows the result in chart format to help you analyse the data.
                  </div>
                </div>
                <a class="card-footer text-white bg-dark clearfix small z-1" href="/ecommerce">
                  <span class="float-left">View Form</span>
                  <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 mb-6 col-xl-4 col-lg-6">
            <div class="card-container">
              <div class="card card-flows text-white bg-info h-100">
                <div class="card-flows-body">
                  <div class="card-body-icon">
                    <i class="fa fa-fw fa-file-text"></i>
                  </div>
                  <div class= "side ">
                    <div class="mr-5" style="font-size: 20px"><big><b>Form Auto Response</b></big></div>
                    <br>
                    <div class="mr-5"><i class="fa fa-fw fa-file-text" style="font-size: 50px;"></i> <i class="fa fa-fw fa-plus"  style="font-size: 35px;"></i> <i class="fa fa-fw fa-mail-reply" style="font-size: 50px;"></i></div>
                    <div class="mr-5" style="margin:5px; float:left;font-size: 18px;"><b>Forms</b></div>
                    <div class="mr-5" style="margin:5px; float:left;font-size: 18px;"><b>E-Mail</b></div>
                  </div>
                  <div class = "side back bg-white text-dark">
                    This flow helps you send automated replies via email whenever a certain specific type of response is made to Google Form.
                  </div>
                </div>
                <a class="card-footer text-white bg-info clearfix small z-1" href="/formmonitor">
                  <span class="float-left">View Form</span>
                  <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
       </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="../static/vendor/jquery/jquery.min.js" crossorigin="anonymous"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js" crossorigin="anonymous"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../static/vendor/chart.js/Chart.min.js" crossorigin="anonymous"></script>
    <script src="../static/vendor/datatables/jquery.dataTables.js" crossorigin="anonymous"></script>
    <script src="../static/vendor/datatables/dataTables.bootstrap4.js" crossorigin="anonymous"></script>
    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin.min.js" crossorigin="anonymous"></script>
    <!-- Custom scripts for this page-->
    <script src="../static/js/sb-admin-datatables.min.js" crossorigin="anonymous"></script>
    <script src="../static/js/sb-admin-charts.min.js" crossorigin="anonymous"></script>
  
</body>
</html>