<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" type="image/x-icon" href="../static/logo.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>EP-Team Project</title>
  <!-- Bootstrap core CSS-->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <!-- Custom fonts for this template-->
  <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous">
  <!-- Page level plugin CSS-->
  <link href="../static/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" crossorigin="anonymous">
  <!-- Custom styles for this template-->
  <link href="../static/css/sb-admin.min.css" rel="stylesheet" crossorigin="anonymous">
  <script type="text/javascript">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
          alert("{{ message }}");            
        {% endfor %}
        {% endif %}
        {% endwith %}
  </script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="/flows">Event Handling Platform</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-cloud"></i>
            <span class="nav-link-text">Create Flows</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="/flows">Choose Templates</a>
            </li>
            <li>
              <a href="/customflows">Customize Flows</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="/yourflows">
            <i class="fa fa-fw fa-briefcase"></i>
            <span class="nav-link-text">Your Flows</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="/logout">
            <i class="fa fa-fw fa-sign-out"></i>
            <span class="nav-link-text">Logout</span></a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto text-white">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-5" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-user"></i>
            <span>Welcome {{session['name']}}</span>
            <span class="d-lg-none">User Details</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">Account Settings:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/change_password"><i class= "fa fa-fw fa-lock"></i>
              Change Password
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

<div class="content-wrapper">
    <div class="container">
      <!-- Breadcrumbs-->
      
    <form method="POST" action="/mqtt" >
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/mqtt">MQTT INPUT</a>
        </li>
      </ol>
      <div class="form-group">
        <label for="name">Name of the flow</label>
        <input type="text" class="form-control" name="name" id="name" aria-describedby="websiteHelp" placeholder="Enter Flow Name" required="true">
      </div>
      <div class="form-group">
        <label for="in_server">Server</label>
        <input type="text" class="form-control" name="in_server" id="in_server" aria-describedby="websiteHelp" placeholder="Input Server Address" required="true">
      </div>
      <div class="form-group">
        <label for="in_port">Port</label>
        <input type="number" class="form-control" name="in_port" id="in_port" aria-describedby="websiteHelp" placeholder="Input Port" required="true">
      </div>
      <div class="form-group">
        <label for="in_topic">Topic</label>
        <input type="text" class="form-control" name="in_topic" id="in_topic" aria-describedby="websiteHelp" placeholder="Input Topic" required="true">
      </div>
      <div class="form-group">
        <label for="key">Key</label>
        <input type="text" class="form-control" name="key" id="key" aria-describedby="keyHelp" placeholder="Example: payload" required="true">
      </div>
      <div class="form-group">
        <label for="in_operator">Operator</label>
        <select class="form-control" name="in_operator" id="in_operator"  required>
          <option>eq</option>
          <option>neq</option>
          <option>lt</option>
          <option>lte</option>
          <option>gt</option>
          <option>gte</option>
          <option>cont</option>
        </select>
      </div>
      <div class="form-group">
        <label for="in_value">Value</label>
        <input type="text" class="form-control" name="in_value" id="in_value" aria-describedby="websiteHelp" placeholder="Input Threshold Value" required>
      </div>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/mqtt">MQTT OUTPUT</a>
        </li>
      </ol>
      <div class="form-group">
        <label for="out_server">Server</label>
        <input type="text" class="form-control" name="out_server" id="out_server" aria-describedby="websiteHelp" placeholder="Output Server Address" required>
      </div>
      <div class="form-group">
        <label for="out_port">Port</label>
        <input type="number" class="form-control" name="out_port" id="out_port" aria-describedby="websiteHelp" placeholder="Output Port" required>
      </div>
      <div class="form-group">
        <label for="out_topic">Output Topic</label>
        <input type="text" class="form-control" name="out_topic" id="out_topic" aria-describedby="websiteHelp" placeholder="Output Topic" required>
      </div>
      <div class="form-group">
        <label for="out_value">Output Value</label>
        <input type="text" class="form-control" name="out_value" id="out_value" aria-describedby="websiteHelp" placeholder="Output Value" required>
      </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/vendor/jquery/jquery.min.js" crossorigin="anonymous"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js" crossorigin="anonymous"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../static/vendor/chart.js/Chart.min.js" crossorigin="anonymous"></script>
    <script src="../static/vendor/datatables/jquery.dataTables.js" crossorigin="anonymous"></script>
    <script src="../static/vendor/datatables/dataTables.bootstrap4.js" crossorigin="anonymous"></script>
    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin.min.js" crossorigin="anonymous"></script>
    <!-- Custom scripts for this page-->
    <script src="../static/js/sb-admin-datatables.min.js" crossorigin="anonymous"></script>
    <script src="../static/js/sb-admin-charts.min.js" crossorigin="anonymous"></script>
  
</body>
</html>